[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "skewnormlib"
version = "0.1.0"
description = "A Python library for skew-weighted normalization"
readme = "README.md"
requires-python = ">=3.6"  # Specifies Python version compatibility
authors = [
    { name = "Mohd Nihal", email = "mohdnihalll03@gmail.com" }
]
license = { file = "LICENSE" }
keywords = ["skewness", "normalization", "data preprocessing", "machine learning"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
dependencies = [
    "numpy",
    "scipy",
    "scikit-learn"
]
