#-t 0.5

define polVal 0.3519
define polAngle 0.0

define f01500 1.506 0.112
define f21525 1.517 0.086

fit ksks

reaction KsKs Beam Proton KShort KShort

sum KsKs PositiveRe
sum KsKs PositiveIm

# f0(1500)
amplitude KsKs::PositiveRe::S0+ Zlm 0 0 +1 +1 polAngle polVal
amplitude KsKs::PositiveRe::S0+ BreitWigner f01500 0 2 3
amplitude KsKs::PositiveIm::S0+ Zlm 0 0 -1 -1 polAngle polVal
amplitude KsKs::PositiveIm::S0+ BreitWigner f01500 0 2 3

# f2(1525)
amplitude KsKs::PositiveRe::D2+ Zlm 2 2 +1 +1 polAngle polVal
amplitude KsKs::PositiveRe::D2+ BreitWigner f21525 2 2 3
amplitude KsKs::PositiveIm::D2+ Zlm 2 2 -1 -1 polAngle polVal
amplitude KsKs::PositiveIm::D2+ BreitWigner f21525 2 2 3


initialize KsKs::PositiveRe::S0+ cartesian 100.0 real
constrain KsKs::PositiveRe::S0+ KsKs::PositiveIm::S0+

initialize KsKs::PositiveRe::D2+ cartesian 50.0 50.0
constrain KsKs::PositiveRe::D2+ KsKs::PositiveIm::D2+
